# Default ignored files
/shelf/
/inspectionProfiles/
/.name
/compiler.xml
/workspace.xml
/deploymentTargetDropDown.xml
gradle.xml
kotlinc.xml
migrations.xml
misc.xml
*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea
